.App {
  margin: 1%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  flex-direction: column;
}
.button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5%;

}

.divider-a {
  width: 100%;
}

.user-location {
  font-size:small;
}

.card-container {
  height: 300px;
  width: 50%;
}
.repos-container {
  margin-left: 3%;
  margin-right: 3%;
}

.search-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Header {
  font-family: lato,sans-serif;
  font-weight: 100;
  font-style: normal;
}
.Search-bar-div {
  display: flex;
  justify-content: space-between;
}

.App-logo {
  margin: 1%;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .search-button {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: skew 4s infinite;
    transform: skew(10deg);
    animation-direction: alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes skew {
  0% {
    transform: skewX(10deg);
  }
  100% {
    transform: skewX(-10deg);
  }
}
